body {
	font-family: sans-serif;
}

h1 {
	text-align: center;
	color: forestgreen;
	margin: 30px 0 50px;
}

.gallery {
	margin: 10px 50px;
}

.gallery img {
	width: 80px;
	padding: 1px;
	filter: grayscale(100%);
	transition: 1s;
}

.gallery img:hover {
	filter: grayscale(0);
	transform: scale(1.1);
}

li {
	list-style: none;
}

nav a {
	text-decoration: none;
	color: red;
	font-size: 1rem;
}

a:hover {
	color: orange;
}

header {
	position: relative;
	padding: 0 2rem;
}

.navbar {
	width: 100%;
	height: 60px;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a {
	font-size: 1.5rem;
	font-weight: bold;
}

.navbar .links {
	display: flex;
	gap: 2rem;
}

.navbar .toogle_btn {
	color: aliceblue;
	font-size: 1.5rem;
	cursor: pointer;
	display: none;

}

.action_btn {
	background-color: #8ac9ec;
	color: #fff;
	padding: 0.5rem 1rem;
	border: none;
	outline: none;
	border-radius: 20px;
	font-size: 0.8rem;
	font-weight: bold;
	cursor: pointer;

}

.action_btn:hover {
	scale: 1.05;
	color: #fff;

}

.action_btn:active {
	scale: 0.95;
}

.dropdown_menu {
	display: none;
	position: absolute;
	right: 2rem;
	top: 60px;
	height: 0;
	width: 300px;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur (15px);
	border-radius: 10px;
	overflow: hidden;
}


.dropdown_menu.open {
	height: 240px;

}

.dropdown_menu li {
	padding: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropdown_menu .action_btn {
	width: 100%;
	display: flex;
	justify-content: center;
}


@media(max-width: 992px) {

	.navbar .links,
	.navbar .action_btn {
		display: none;
	}

	.navbar .toogle_btn {
		display: block;
	}

	.dropdown_menu {
		display: none;
	}
}